[Python documentation for sets](https://docs.python.org/3.8/library/stdtypes.html#set-types-set-frozenset)

Define using curly braces `{ }`, or for an empty set, use `set()`

In [ ]:
this_is_a_set = {4,5}

In [ ]:
this_is_a_set

In [ ]:
this_is_also_a_set = {5,4}

In [ ]:
this_is_also_a_set

In [ ]:
new_set = {4,5,5}

In [ ]:
new_set

In [ ]:
A = {1,2,3}
A2 = {3,2,1,1}
B = {2,3,4}
print('A: '+str(A))
print('A2: '+str(A2))
print('B: '+str(B))

Compute $A\cup B$

In [ ]:
A.union(B)

In [ ]:
A | B

Compute set intersection $A\cap B$

In [ ]:
A.intersection(B)

In [ ]:
A & B

Compute set difference $A - B$

In [ ]:
A.difference(B)

In [ ]:
A - B

$x\in A$

In [ ]:
(4 in A)

$4 \in A\cup B$

In [ ]:
4 in (A | B)

$A = B$

In [ ]:
A == B

In [ ]:
A == A2

In [ ]:
{7,8,9} == {9,7,8}

$A \subseteq B$

In [ ]:
A <= B

In [ ]:
{1,2} <= A # "subset," not "less than"

In [ ]:
set() <= set()

$A \subseteq A\cup B$

In [ ]:
A <= (A | B)

In [ ]:
A <= (A | {34,234,'a'})

$A \cap B \subseteq A$

In [ ]:
(A & B) <= A

In [ ]:
(A & {123,234,345,'y'}) <= A

In [ ]:
A & {123,234,345,'y'}

Set-builder notation:

$C = \{x : x\in \mathbb{N} \mbox{ and } x<10\}$

In Python, use a "set comprehension":

In [ ]:
C = {x for x in range(1,10)}
print(C)

First 10 even numbers:

In [ ]:
{2*x for x in range(10)}

In [ ]:
A

In [ ]:
{2*x for x in A}

In [ ]:
{x*x for x in [3,12,7,2,3,9]}

# Section 3.1: Problem 5.

Let $A = \{3x+1:x\in \mathbb{N}\}$

Let $B = \{2x+1:x\in \mathbb{Z}^+\}$

Let $C = \{6x+1:x\in \mathbb{Z}\}$

Let's define finite versions of these! $-10\leq x<10$

$\mathbb{Z}^+ = \{1,2,\dots\}$

$\mathbb{Z}_{\geq0} = \{0,1,2,\dots\}$

In [ ]:
A = {3*x + 1 for x in range(1,10)}
print(set(range(1,10)))
print('A: ' + str(A))

In [ ]:
B = {2*x + 1 for x in range(1,10)}
print(set(range(1,10)))
print('B: ' + str(B))

In [ ]:
C = {6*x + 1 for x in range(-10,10)}
print(set(range(-10,10)))
print('C: ' + str(C))

part (a): list 5 elements that are in $A\cap B$:

In [ ]:
A & B

part (b): list 5 elements that are in $A\cup C$:

In [ ]:
A | C

part (c): list 5 elements that are in $B - A$:

In [ ]:
B - A

In [ ]:
A - C

# Quiz:

Define the following sets:
\begin{align*}
S_1 &= \{n \bmod 25 : n \in \mathbb{Z}\} \\
S_2 &= \{3n : n\in \mathbb{N}\} \\
S_3 &= \{-n : n\in \mathbb{Z}\} \\
S_4 &= \{n : n\in \mathbb{Z} \mbox{ and } n\leq 10\}
\end{align*}